Security 1 2
XXXXX
XXIXX
XICIX
XXIX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 5
XXIXX
XXXIX
XXCIX
XXIXX
XXIXX
Bee 1 5
XXIXX
XXXIX
XXCIX
XXIXX
XXIXX
Queen 3 3
XIIIX
XIXIX
XICIX
XIIIX
XXIXX
King 3 4
XIIIX
XIXIX
XICIX
XIIIX
XXIXX
Knight 2 3
XXIXX
XIIIX
XICIX
XIIXX
XXIXX
Knight 2 3
XXIXX
XIIIX
XICIX
XIIXX
XXIXX
Rook 1 4
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Rook 1 4
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Bishop 2 3
XXIXX
XIXIX
XICIX
XIXIX
XXIXX
Bishop 2 3
XXIXX
XIXIX
XICIX
XIXIX
XXIXX
Dragon 3 5
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Dragon 3 5
IIIII
IXXXI
IXCXI
IXXXI
IIIII
Warrior 1 2
XXIXX
XIIXI
XICIX
XIIXI
XXIXX
Warrior 1 2
XXIXX
XIIXI
XICIX
XIIXI
XXIXX
Sorcerer 3 3
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Sorcerer 3 3
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Commander 3 5
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Commander 3 5
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Templar 2 4
XXIXX
XIIIX
XICIX
XIIIX
XXIXX
Templar 2 4
XXIXX
XIIIX
XICIX
XIIIX
XXIXX